
build/output/_transicao_ocupacao_resto_brasil_trimestral.dta.xls
build/output/_transicao_ocupacao_resto_brasil_matriz.dta.xls
build/output/_transicao_ocupacao_amazonia_legal_trimestral.dta.xls
build/output/_transicao_ocupacao_amazonia_legal_matriz.dta.xls
build/output/_programas_sociais_resto_brasil.dta.xls
build/output/_programas_sociais_amazonia_legal.dta.xls
build/output/_estrutura_renda_resto_brasil.dta.xls
build/output/_estrutura_renda_amazonia_legal.dta.xls
build/output/_estrutura_emprego_resto_brasil.dta.xls
build/output/_estrutura_emprego_amazonia_legal.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_servicos.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_industria.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_construcao.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_comercio.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_agricultura.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_preta.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_indigena.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_branca.dta.xls
build/output/_composicao_demografica_amazonia_legal_mulher.dta.xls
build/output/_composicao_demografica_amazonia_legal_homem.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_60.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_59.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_39.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_24.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_17.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_3superior.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_2medio.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_1fundamental.dta.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_urbano.dta.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_rural.dta.xls
build/output/_composicao_demografica_amazonia_legal_area_regiao_metropolitana.dta.xls
build/output/_composicao_demografica_amazonia_legal_area_nregiao_metropolitana.dta.xls
build/tmp/_temp_transicao_ocupacao_PNADC8.dta
build/tmp/_temp_transicao_ocupacao_PNADC7.dta
build/tmp/_temp_transicao_ocupacao_PNADC6.dta
build/tmp/_temp_transicao_ocupacao_PNADC5.dta
build/tmp/_temp_transicao_ocupacao_PNADC4.dta
build/tmp/_temp_transicao_ocupacao_PNADC3.dta
build/tmp/_temp_transicao_ocupacao_PNADC2.dta
build/tmp/_temp_transicao_ocupacao_PNADC1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2019_visita5.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2019_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2018_visita5.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2018_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2017_visita5.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2017_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2016_visita5.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2016_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2015_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2014_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2013_visita1.dta
build/tmp/_temp_programas_sociais_PNADC_anual_2012_visita1.dta
build/tmp/_temp_estrutura_renda_PNADC2020.dta
build/tmp/_temp_estrutura_renda_PNADC2019.dta
build/tmp/_temp_estrutura_renda_PNADC2018.dta
build/tmp/_temp_estrutura_renda_PNADC2017.dta
build/tmp/_temp_estrutura_renda_PNADC2016.dta
build/tmp/_temp_estrutura_renda_PNADC2015.dta
build/tmp/_temp_estrutura_renda_PNADC2014.dta
build/tmp/_temp_estrutura_renda_PNADC2013.dta
build/tmp/_temp_estrutura_renda_PNADC2012.dta
build/tmp/_temp_estrutura_emprego_PNADC2020.dta
build/tmp/_temp_estrutura_emprego_PNADC2019.dta
build/tmp/_temp_estrutura_emprego_PNADC2018.dta
build/tmp/_temp_estrutura_emprego_PNADC2017.dta
build/tmp/_temp_estrutura_emprego_PNADC2016.dta
build/tmp/_temp_estrutura_emprego_PNADC2015.dta
build/tmp/_temp_estrutura_emprego_PNADC2014.dta
build/tmp/_temp_estrutura_emprego_PNADC2013.dta
build/tmp/_temp_estrutura_emprego_PNADC2012.dta
build/tmp/_temp_composicao_demografica_PNADC2020.dta
build/tmp/_temp_composicao_demografica_PNADC2019.dta
build/tmp/_temp_composicao_demografica_PNADC2018.dta
build/tmp/_temp_composicao_demografica_PNADC2017.dta
build/tmp/_temp_composicao_demografica_PNADC2016.dta
build/tmp/_temp_composicao_demografica_PNADC2015.dta
build/tmp/_temp_composicao_demografica_PNADC2014.dta
build/tmp/_temp_composicao_demografica_PNADC2013.dta
build/tmp/_temp_composicao_demografica_PNADC2012.dta
build/output/_transicao_ocupacao_resto_brasil_trimestral.xls
build/output/_transicao_ocupacao_resto_brasil_trimestral.dta
build/output/_transicao_ocupacao_resto_brasil_matriz.xls
build/output/_transicao_ocupacao_resto_brasil_matriz.dta
build/output/_transicao_ocupacao_amazonia_legal_trimestral.xls
build/output/_transicao_ocupacao_amazonia_legal_trimestral.dta
build/output/_transicao_ocupacao_amazonia_legal_matriz.xls
build/output/_transicao_ocupacao_amazonia_legal_matriz.dta
build/output/_programas_sociais_resto_brasil.xls
build/output/_programas_sociais_resto_brasil.dta
build/output/_programas_sociais_amazonia_legal.xls
build/output/_programas_sociais_amazonia_legal.dta
build/output/_estrutura_renda_resto_brasil.xls
build/output/_estrutura_renda_resto_brasil.dta
build/output/_estrutura_renda_amazonia_legal.xls
build/output/_estrutura_renda_amazonia_legal.dta
build/output/_estrutura_emprego_resto_brasil.xls
build/output/_estrutura_emprego_resto_brasil.dta
build/output/_estrutura_emprego_amazonia_legal.xls
build/output/_estrutura_emprego_amazonia_legal.dta
build/output/_composicao_demografica_amazonia_legal_raca_preta.xls
build/output/_composicao_demografica_amazonia_legal_raca_preta.dta
build/output/_composicao_demografica_amazonia_legal_raca_indigena.xls
build/output/_composicao_demografica_amazonia_legal_raca_indigena.dta
build/output/_composicao_demografica_amazonia_legal_raca_branca.xls
build/output/_composicao_demografica_amazonia_legal_raca_branca.dta
build/output/_composicao_demografica_amazonia_legal_mulher.xls
build/output/_composicao_demografica_amazonia_legal_mulher.dta
build/output/_composicao_demografica_amazonia_legal_homem.xls
build/output/_composicao_demografica_amazonia_legal_homem.dta
build/output/_composicao_demografica_amazonia_legal_edu_3superior.xls
build/output/_composicao_demografica_amazonia_legal_edu_3superior.dta
build/output/_composicao_demografica_amazonia_legal_edu_2medio.xls
build/output/_composicao_demografica_amazonia_legal_edu_2medio.dta
build/output/_composicao_demografica_amazonia_legal_edu_1fundamental.xls
build/output/_composicao_demografica_amazonia_legal_edu_1fundamental.dta
build/output/_composicao_demografica_amazonia_legal_domicilio_urbano.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_urbano.dta
build/output/_composicao_demografica_amazonia_legal_domicilio_rural.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_rural.dta
build/output/_composicao_demografica_amazonia_legal_area_regiao_metropolitana.xls
build/output/_composicao_demografica_amazonia_legal_area_regiao_metropolitana.dta
