
build/output/_transicao_ocupacao_resto_brasil_trimestral.dta.xls
build/output/_transicao_ocupacao_resto_brasil_matriz.dta.xls
build/output/_transicao_ocupacao_amazonia_legal_trimestral.dta.xls
build/output/_transicao_ocupacao_amazonia_legal_matriz.dta.xls
build/output/_programas_sociais_resto_brasil.dta.xls
build/output/_programas_sociais_amazonia_legal.dta.xls
build/output/_estrutura_renda_resto_brasil.dta.xls
build/output/_estrutura_renda_amazonia_legal.dta.xls
build/output/_estrutura_emprego_resto_brasil.dta.xls
build/output/_estrutura_emprego_amazonia_legal.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_servicos.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_industria.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_construcao.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_comercio.dta.xls
build/output/_composicao_demografica_amazonia_legal_setor_agricultura.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_preta.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_indigena.dta.xls
build/output/_composicao_demografica_amazonia_legal_raca_branca.dta.xls
build/output/_composicao_demografica_amazonia_legal_mulher.dta.xls
build/output/_composicao_demografica_amazonia_legal_homem.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_60.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_59.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_39.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_24.dta.xls
build/output/_composicao_demografica_amazonia_legal_faixa_etaria_17.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_3superior.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_2medio.dta.xls
build/output/_composicao_demografica_amazonia_legal_edu_1fundamental.dta.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_urbano.dta.xls
build/output/_composicao_demografica_amazonia_legal_domicilio_rural.dta.xls
build/output/_composicao_demografica_amazonia_legal_area_regiao_metropolitana.dta.xls
build/output/_composicao_demografica_amazonia_legal_area_nregiao_metropolitana.dta.xls
